@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="view clearfix" style="background-color:#428bca">
                <div class="col-xs-3">
                    <img alt="20x20" style="width:40px;height:40px" src="http://www.runoob.com/try/bootstrap/layoutit/v3/default3.jpg" class="img-circle">
                </div>
                <div class="col-xs-6">
                    
                </div>
                <div class="col-xs-3">
                    <button>我的</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="carousel slide" id="carousel-261663">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target="#carousel-261663"></li>
                    <li data-slide-to="1" data-target="#carousel-261663" class="active"></li>
                    <li data-slide-to="2" data-target="#carousel-261663" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="http://www.runoob.com/try/bootstrap/layoutit/v3/default.jpg">
                        <div class="carousel-caption">
                            <h4>First Thumbnail label</h4>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" src="http://www.runoob.com/try/bootstrap/layoutit/v3/default1.jpg">
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="http://www.runoob.com/try/bootstrap/layoutit/v3/default2.jpg">
                        <div class="carousel-caption">
                            <h4>Third Thumbnail label</h4>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-261663" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-261663" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        正在进行中
                    </a>
                </li>
                <li><a href="#ios" data-toggle="tab">已经结束的</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="min-width: auto;">
                        <li>
                            <a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a>
                        </li>
                        <li>
                            <a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>城市</th>
                                <th>密码</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tanmay</td>
                                <td>Bangalore</td>
                                <td>560001</td>
                            </tr>
                            <tr>
                                <td>Sachin</td>
                                <td>Mumbai</td>
                                <td>400003</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                            <tr>
                                <td>Uma</td>
                                <td>Pune</td>
                                <td>411027</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="ios">
                    <p>
                        iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
                    </p>
                </div>
                <div class="tab-pane fade" id="jmeter">
                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                </div>
                <div class="tab-pane fade" id="ejb">
                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。</p>
                </div>
            </div>
            <script>
                $(function () {
                    $('#myTab li:eq(0) a').tab('show');
                });
            </script>
        </div>
    </div>
</body>
</html>
