@charset "utf-8";
/* CSS Document */

*{font-weight:normal; padding:0; margin:0; outline:none; list-style:none;}

body{border:1px solid #ddd; max-width:768px; height:100%; margin:0 auto; position:absolute; left:0; right:0; top:0; bottom:0; box-sizing:border-box;}

.head{position:absolute; max-width:768px; margin:0 auto; left:0; right:0; top:0; height:1.5rem; border-bottom:.02rem solid #c5c5c5; box-sizing:border-box; padding:.2rem; z-index:99;}
.head .userinfo{display:block; position:absolute; left:.2rem; right:1.5rem; top:.2rem; bottom:.2rem;}
.head .userinfo li{width:55%; display:block; float:left; line-height:.55rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:.3rem;}
.head .userinfo li:nth-child(2n){width:45%;}
.head .userImg{float:right; height:1.1rem; width:1.1rem;}
.head .userImg img{height:1.1rem; width:1.1rem;}

.conditional{width:auto; margin:0 5px; margin-bottom:10px;position:absolute; max-width:768px; margin:0 auto; left:5px; right:5px; top:1.6rem; background:#fff; z-index:99;}
.conditional *{font-size:13px;}

.everyday{border:1px solid #c5c5c5; height:30px; padding:0 10px;}
.screen{border:1px solid #c5c5c5; border-top:0; line-height:24px; padding:5px; display:none; position:relative;}

.screen b{display:inline-block; width:100%;}
.screen b span{display:inline-block;}
.screen b .datatext{width:100%;}
.screen b .input-parent{display:inline-block;}
.screen b  input{width:40%; border:1px solid #ddd; height:24px; margin-bottom:5px; display:inline; padding:0 2px; box-sizing:border-box;}
/*@media screen and (min-width:594px){
	.screen b:first-child{width:auto;}
	.screen b:nth-child(2){width:370px;}
	.screen b span{width:70px;}
	.screen b .input-parent{width:200px;}
	.screen b .input-parent input{width:48%; margin-bottom:5px;}
	.screen b .input-parent input:first-child{margin-right:4%;}
	.screen b .datatext{width:auto;}
}*/
.beatpicker-input-from{margin-right:5%;}
.btn_fz {
    padding:0 10px; color:#fff; border:none; border-radius:5px; line-height:24px; right:5px; top:5px;
    background:linear-gradient(to bottom, #EA4F38 0%,#B30208 100%);
}
.screen #search{padding:0 10px; color:#fff; border:none; border-radius:5px; line-height:24px; margin-left:.1rem; position:absolute; right:5px; top:5px;
background:-moz-linear-gradient(top, #EA4F38 0%, #B30208 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#EA4F38), color-stop(100%,#B30208));
background:-webkit-linear-gradient(top, #EA4F38 0%,#B30208 100%);
background:-o-linear-gradient(top, #EA4F38 0%,#B30208 100%);
background:-ms-linear-gradient(top, #EA4F38 0%,#B30208 100%);
background:linear-gradient(to bottom, #EA4F38 0%,#B30208 100%);
}



.cont{position:absolute; max-width:768px; margin:0 auto; left:0; right:0; top:1.6rem; bottom:.9rem; overflow:hidden;}

.data-table{width:auto; margin:0 5px; padding-bottom:10px; border-right:1px solid #c5c5c5;}
.data-table *{box-sizing:border-box; font-size:13px;}

.data-list{width:100%;}
.data-list table{border:1px solid #c5c5c5; border-bottom:none; border-right:none;}
#MyTable{margin-bottom:1px;}
.data-list th,.data-list td{min-width:100px; height:30px; white-space:nowrap; text-align:center; border:1px solid #c5c5c5; border-top:none; border-left:none;}
.data-list tr th:last-child,.data-list tr td:last-child{border-right:none;}/**/

.goTop{width:1rem; height:1rem; line-height:1rem; text-align:center; font-size:.4rem; position:absolute; right:5px; bottom:1rem; z-index:999; background:rgba(0,0,0,.3); border-radius:50%; display:none;}


.footnav *{box-sizing:border-box;}
.footnav{height:.8rem; position:absolute; max-width:768px; margin:0 auto; left:0; right:0; bottom:0;}
.footnav ul{display:block; width:100%; height:.8rem; border:.03rem solid #c5c5c5; border-top:0; border-left:0;}
.footnav ul li,.footnav ul li a{display:block; line-height:.74rem; text-align:center; color:#333; background:#FFF; font-size:.3rem;}
.footnav ul li{float:left; width:25%; border:.03rem solid #c5c5c5; border-right:0; border-bottom:0; position:relative;}
.footnav ul li a{width:100%; text-decoration:none;}

.footdiv{position:absolute; top:-135px; left:-.2rem; right:-.2rem; min-height:15px; display:none; z-index:999;}
.triangle{position:relative; margin:0 auto; bottom:0; width:15px; height:15px; border-style:solid; border-width:0 10px 15px 10px; border-color:transparent transparent #c5c5c5 transparent; -webkit-transform:rotate(180deg); -ms-transform: rotate(180deg); transform:rotate(180deg);}
.triangle::before{position:absolute; content:''; top:1px; left:-9.5px; width:0; height:0; border-style:solid; border-width:0 9.5px 15px 9px; border-color:transparent transparent #ffffff transparent;}
.footnav ul li .footdiv div a{line-height:28px; font-size:13px; border:1px solid #c5c5c5; border-bottom:none;}
.footnav ul li .footdiv div a:last-child{border-bottom:1px solid #c5c5c5;}


.over{position:absolute; left:1rem; right:1rem; top:50%; height:1rem; line-height:1rem; margin-top:-.5rem; font-size:.4rem; color:#fff; text-align:center; background:#000; z-index:9999;}