@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/dialog.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <script src="~/Content/TestPage/dsdialog.js"></script>
    <script src="~/Content/TestPage/commonaction.js"></script>


</head>

<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <form action="" class="bs-example bs-example-form" role="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group" style="float:left;">
                            <div class="btn-group" style="float: left;">
	                            <button id="field" type="button" class="btn btn-default">默认</button>
	                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
		                            <span class="caret"></span>
		                            <span class="sr-only">切换下拉菜单</span>
	                            </button>
	                            <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" v_val="">默认</a></li>
		                            <li><a href="#" v_val="OrderNo">会单号</a></li>
	                            </ul>
                            </div>
                            <input id="fieldv" type="text" class="form-control" style="width: 220px;margin:0 5px" />
                        </div><!-- /input-group -->
                        <button id="search" type="button" style="float:left; margin-left:5px;" class="btn btn-default">查询</button>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>
        </div>
        <div class="panel-body">
            <div id="tblist"></div>
            <div id="page" class="m-pagination"></div>
        </div>
    </div>
</div>

 @*   <table>
        <tr>
            <td><input id="text" type="text"></td>
            <td colspan="3">
                <select id="sel">
                    <option value="OrderNo">会单号</option>
                </select>
            </td>
            <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询">@Html.Raw(ViewBag.ll)</td>
        </tr>
    </table>

    <div id="tblist"></div>
    <div id="page" class="m-pagination"></div>*@
    <script>
        $(function () {
            $("#search").click(function () {
                var isInited = $("#page").pagination();
                if (isInited) $("#page").pagination('destroy');
                var text = $("#fieldv").val();
                var type = $("#field").attr("v_val");
                $("#page").pagination({
                    firstBtnText: '首页',
                    lastBtnText: '尾页',
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    showInfo: true,
                    showJump: true,
                    jumpBtnText: '跳转',
                    showPageSizes: true,
                    infoFormat: '{start} ~ {end}条，共{total}条',
                    debug: true,
                    pageElementSort: ['$page', '$size', '$jump', '$info'],
                    remote: {
                        url: '/Order/ListOrderPage',  //请求地址
                        params: { text: text, type: type },       //自定义请求参数
                        success: function (data) {
                            //$("#eventLog").append(' remote callback : ' + JSON.stringify(data) + '<br />');
                            console.log(data)
                            if (data.success) {
                                var caption = "<caption><div class=\"btn-toolbar\" role=\"toolbar\">";
                                caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"neworder()\">新增</button></div>";
                                caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"RemoveByNo(null)\">删除</button></div>";
                                caption += "</div></caption>";

                                var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:6%;\"><label class=\"checkbox-inline\"><input id=\"allqx\" type=\"checkbox\" />全选</label></th><th style=\"width:190px;\">会单ID</th><th style=\"width:130px;\">放款类型</th><th style=\"width:118px;\">标会类型</th><th style=\"width:60px;\">标息</th><th style=\"width:80px;\">会员人数</th><th style=\"width:118px;\">会单金额</th><th style=\"width:118px;\">会单总额</th><th style=\"width:80px;\">会单状态</th><th style=\"width:130px;\">操作</th></tr></thead>" + caption;
                                $.each(data.list, function (i, o) {
                                    str += "<tr><td style=\"text-align:center\"><input type=\"checkbox\" value=\"" + o.OrderNo + "\"></td><td>" + o.OrderNo + "</td><td>" + o.MSType + "</td><td>" + o.MeetType + "</td><td>" + o.LowestMoney + "</td><td>" + o.PeoperNum + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + GetStateN(o.State) + "</td><td><button class=\"btn btn-primary\" onclick=\"FindOrderLists(this,'" + o.OrderNo + "')\">查看</button><button class=\"btn btn-primary\" onclick=\"openwin('" + o.OrderNo + "')\">预览</button></td></tr>";
                                })
                                str += "</table>";
                                $("#tblist").html(str);
                                $("#allqx").click(function () { togglechg(); })
                            } else {
                                var caption = "<caption><div class=\"btn-toolbar\" role=\"toolbar\">";
                                caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"neworder()\">新增</button></div>";
                                caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\">编辑</button></div>";
                                caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"RemoveByNo(null)\">删除</button></div>";
                                caption += "</div></caption>";
                                var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:6%;\"><label class=\"checkbox-inline\"><input id=\"allqx\" type=\"checkbox\" />全选</label></th><th style=\"width:190px;\">会单ID</th><th style=\"width:130px;\">放款类型</th><th style=\"width:118px;\">标会类型</th><th style=\"width:60px;\">标息</th><th style=\"width:80px;\">会员人数</th><th style=\"width:118px;\">会单金额</th><th style=\"width:118px;\">会单总额</th><th style=\"width:80px;\">会单状态</th><th style=\"width:130px;\">操作</th></tr></thead>" + caption;
                                str += "</table>";
                                $("#tblist").html(str);
                            }
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
            $('.dropdown-menu a').click(function () {
                var txt = $(this).text(); var val = $(this).attr("v_val");
                var objdrop = $(this).parent().parent().siblings("button").eq(0);
                objdrop.text(txt); objdrop.attr("v_val", val);
            })
        })
        //点击全选
        togglechg = function () {
            var qx = $("#allqx");
            var tr = $("#tblist tbody tr")
            $.each(tr, function (i, e) {
                var eachobj = $(e).children("td").eq(0).find(":checkbox");
                if (qx.prop("checked")) eachobj.prop("checked", true); else eachobj.prop("checked", false);
            })
        }
        //会单状态
        GetStateN = function (v) {
            if (v == 1) return '活会';
            if (v == 2) return '死会';
            if (v == 3) return '险会';
        }
        //会单记录状态
        GetStateL = function (v) {
            if (v == 1) return '<b>已结束</b>';
            if (v == 2) return '未结束';
            if (v == 3) return '<span style=\"color:red\">异常</span>';
        }
        //Null设置为空
        GetNullEmpty = function (v) {
            if (v == null) return '';
            return v;
        }
        var listtips;
        //记录列表
        FindOrderLists = function (e, No) {
            $.ajax({
                type: "GET",
                url: '/Order/OrderLists',
                data: { orderno: No },
                dataType: 'json',
                success: function (data) {
                    var str = "<table class=\"table table-bordered table-hover\" id=\"jl" + No + "\"><thead><tr><th style=\"width:61px;\">记录ID</th><th style=\"width:160px;\">标会日期时间</th><th style=\"width:80px;\">得标人</th><th style=\"width:80px;\">标息</th><th style=\"width:80px;\">记录状态</th><th>操作</th></tr></thead>";
                    var objdata = data.jsonresult;
                    if (data.success) {
                        $.each(objdata, function (i, o) {
                            var czstr = "";
                            if (o.State == "1") { czstr = "<button class=\"btn btn-primary btn-sm\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">查看明细</butoon>"; }
                            if (o.State == "2") { czstr = "<button class=\"btn btn-primary btn-sm\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">填写标金</butoon>"; }
                            str += "<tr><td>" + o.ID + "</td><td>" + o.MeetDate + "</td><td>" + GetNullEmpty(o.TrueName) + "</td><td>" + o.AccrualMoney + "</td><td>" + GetStateL(o.State) + "</td><td>" + czstr + "</td></tr>";//<button class=\"btn btn-primary btn-sm\" onclick=\"UpdateOrderListState('" + No + "'," + o.ID + "," + o.State + ")\">更新结果</butoon>
                        })
                        str += "</table>";
                        //$(e).parent().parent().after(str);
                        //listtips = ds.dialog({ title: '会单记录', content: str, timeout: 0 });
                        qiu_confirm("qin_orderlist", "会单记录列表", str, 700, 700);
                    } 
                }
            });
        }
        FindOrderUser = function (No, listid, state) {
            if (state == "1") {
                //明细
                $.getJSON("/Order/OrderListUsers", { listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:61px;\">竞标人</th><th style=\"width:61px;\">竞标金额</th><th style=\"width:160px;\">最后提交时间</th></tr></thead>";
                        $.each(ret.jsonresult, function (i, obj) {
                            str += "<tr><td>" + obj.TrueName + "</td><td>" + obj.AccrualMoney + "</td><td>" + obj.Lastdate + "</td></tr>";
                        })
                        str += "</table>";
                        //ds.dialog({ title: '会单明细', content: str, timeout: 0 });
                        qiu_confirm("qin_jldetail", "会单记录明细", str, null, 700);
                    }
                });
            } if (state == "2") {
                $.getJSON("/Order/GetOrderListUserPrvMoney", { orderno: No, listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var data = ret.jsonresult;
                        var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th>标金金额</th><th>最后提交时间</th><th>操作</th></tr></thead>";
                        str += "<tr><td><input type=\"text\" style=\"text-align:center\" value=" + data.AccrualMoney + "></td><td>" + data.Lastdate + "</td><td><button class=\"btn btn-primary btn-sm\" onclick=\"UpdateUserMoney('" + No + "'," + listid + ",this)\">更新</butoon></td></tr>";
                        str += "</table>";
                        //ds.dialog({ title: '填写标金', content: str, timeout: 0 });
                        qiu_confirm("qin_prvmy", "填写标金", str);
                    } else {

                    }
                });
            }
            if (state == "3") {
                ds.dialog.tips("当前期无人参与竞标或者最高竞标金额少于最低竞标额!等待会头处理...", 2, true, true);
            }
        }
        //提交标金
        UpdateUserMoney = function (No, listid, e) {
            var text = $(e).parent().parent().find("input").val();
            $.getJSON("/Order/UpdateOrderListUserMoney", { orderno: No, listid: listid, money: text }, function (ret) {
                if (ret.code == 1000) {
                    tips("提交标息成功", 2);
                }
            });
        }
        //更新结果
        UpdateOrderListState = function (No, listid, state) {
            if (state == "2") {
                $.getJSON("/Order/UpdateOrderListState", { orderno: No, listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        if (ret.jsonresult.State == "1") {
                            listtips.hide();
                            FindOrderLists(this, No);
                        }
                    }
                });
            }
        }
        //删除会单No(单个订单号)，Nos(单号ids)
        RemoveByNo = function (No) {
            var Nos = [];
            if (No == null) {
                var tr = $("#tblist tbody tr");
                $.each(tr, function (i, e) {
                    var eachobj = $(e).children("td").eq(0).find(":checkbox");
                    if (eachobj.prop("checked")) {
                        var o = new Object();
                        o.orderno = eachobj.val();
                        Nos.push(o);  //添加
                    }
                })
            }
            $.ajax({
                type: "POST",
                url: '/Order/RemoveOrder',
                data: { orderno: No, ordernos: JSON.stringify(Nos) },
                dataType: 'JSON',
                success: function (data) {
                    if (data.success) {
                        tips(data.msg, 2);
                    }
                }
            });
        }
        
        //弹出窗体
        qiu_confirm = function (id, title, content, width, height) {
            var iframe = $(id);
            if (iframe.length > 0) {
                iframe.modal('show');
                return;
            }
            if (width != null) {
                width = "style=\"width:" + width + "px\"";
            }
            if (height != null) {
                height = "style=\"height:" + height + "px;overflow:auto\"";
            }
            var header = "<div class=\"modal-header\"><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button><h4 class=\"modal-title\" id=\"myModalLabel\">" + title + "</h4></div>"
            var footer = "<div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">关闭</button></div>";
            var BootDialog = "<div class=\"modal fade\" id=\"" + id + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"" + width + ">" + header + "<div class=\"modal-body\"" + height + ">" + content + "</div>" + footer + "</div></div></div>";
            var obj = $(BootDialog); obj.modal('show');
            //obj.find("#Tj").click(function () {
            //    obj.modal('hide');
            //})
        }
        //弹于信息tips
        tips = function (content, timeout) {
            var BootDialog = "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"modal-body\">" + content + "</div></div></div></div>";
            var obj = $(BootDialog); obj.modal('show');
            setTimeout(function () { obj.modal('hide') }, timeout * 1000);
        }
        //预览
        openwin = function (orderno) {
            window.location.href = "/Order/OrderListViewPortal?orderno=" + orderno;
        }
        //新增会单
        neworder = function () {
            window.location.href = "/Order/OrderPortal";
        }
    </script>
</body>
</html>
