@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <style type="text/css">
        .tablelist td
        {
            text-align: center;
            border:1px solid #d5d5d5;
        }
         .tablelist tr th
        {
            text-align: center;
            border:1px solid #d5d5d5;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td><input id="text" type="text"></td>
            <td colspan="3">
                <select id="sel">
                    <option value="OrderNo">会单号</option>
                </select>
            </td>
            <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询">@Html.Raw(ViewBag.ll)</td>
        </tr>
    </table>

    <div id="tblist"></div>
    <div id="page" class="m-pagination"></div>
    <script>
        $(function () {
            $("#search").click(function () {
                var isInited = $("#page").pagination();
                if (isInited) $("#page").pagination('destroy');
                var text = $("#text").val();
                var type = $("#sel").val();
                $("#page").pagination({
                    firstBtnText: '首页',
                    lastBtnText: '尾页',
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    showInfo: true,
                    showJump: true,
                    jumpBtnText: '跳转',
                    showPageSizes: true,
                    infoFormat: '{start} ~ {end}条，共{total}条',
                    debug: true,
                    pageElementSort: ['$page', '$size', '$jump', '$info'],
                    remote: {
                        url: '/Order/ListOrderPage',  //请求地址
                        params: { text: text, type: type },       //自定义请求参数
                        success: function (data) {
                            //$("#eventLog").append(' remote callback : ' + JSON.stringify(data) + '<br />');
                            console.log(data)
                            var str = "<table class=\"tablelist\"><tr><th>序号</th><th>会单ID</th><th>会钱发放类型</th><th>开会日期</th><th>开会时间</th><th>会单人数</th><th>会单金额</th><th>会单总额</th><th>会单状态</th><th>操作</th></tr>";
                            $.each(data.list, function (i, o) {
                                str += "<tr><td>" + (i + 1) + "</td><td>" + o.OrderNo + "</td><td>" + o.MSType + "</td><td>" + o.MeetDate + "</td><td>" + o.MeetTime + "</td><td>" + o.PeoperNum + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + GetStateN(o.State) + "</td><td><a href='#' onclick=\"FindOrderLists('" + o.OrderNo + "')\">取得列表</a></td></tr>";
                            })
                            str += "</table>";
                            $("#tblist").html(str);
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
        })
        //会单状态
        GetStateN = function (v) {
            if (v == 1) return '活会';
            if (v == 2) return '死会';
            if (v == 3) return '险会';
        }
        FindOrderLists = function (No) {
            console.log(No)
            $.ajax({
                type: "GET",
                url: '/Order/OrderLists',
                data: { orderno: No },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        console.log(data)
                    } else {
                        console.log("1213123")
                    }
                }
            });
        }
    </script>
</body>
</html>
