@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/dialog.css" rel="stylesheet" />
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <script src="~/Content/TestPage/dsdialog.js"></script>
    <style type="text/css">
        .tablelist td
        {
            text-align: center;
            border:1px solid #d5d5d5;
        }
         .tablelist tr th
        {
            text-align: center;
            border:1px solid #d5d5d5;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td><input id="text" type="text"></td>
            <td colspan="3">
                <select id="sel">
                    <option value="OrderNo">会单号</option>
                </select>
            </td>
            <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询">@Html.Raw(ViewBag.ll)</td>
        </tr>
    </table>

    <div id="tblist"></div>
    <div id="page" class="m-pagination"></div>
    <script>
        $(function () {
            $("#search").click(function () {
                var isInited = $("#page").pagination();
                if (isInited) $("#page").pagination('destroy');
                var text = $("#text").val();
                var type = $("#sel").val();
                $("#page").pagination({
                    firstBtnText: '首页',
                    lastBtnText: '尾页',
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    showInfo: true,
                    showJump: true,
                    jumpBtnText: '跳转',
                    showPageSizes: true,
                    infoFormat: '{start} ~ {end}条，共{total}条',
                    debug: true,
                    pageElementSort: ['$page', '$size', '$jump', '$info'],
                    remote: {
                        url: '/Order/ListOrderPage',  //请求地址
                        params: { text: text, type: type },       //自定义请求参数
                        success: function (data) {
                            //$("#eventLog").append(' remote callback : ' + JSON.stringify(data) + '<br />');
                            console.log(data)
                            //var str = "<div><ul class=\"th\"><li>序号</li><li>会单ID</li><li>会钱发放类型</li><li>开会日期</li><li>开会时间</li><li>会单人数</li><li>会单金额</li><li>会单总额</li><li>会单状态</li><li class=\"last\">操作</li></ul>";
                            var str = "<table class=\"tablelist\"><tr><th>序号</th><th>会单ID</th><th>会钱发放类型</th><th>开会日期</th><th>开会时间</th><th>会单人数</th><th>会单金额</th><th>会单总额</th><th>会单状态</th><th>操作</th></tr>";
                            $.each(data.list, function (i, o) {
                                //str += "<ul class=\"td\"><li>" + (i + 1) + "</li><li>" + o.OrderNo + "</li><li>" + o.MSType + "</li><li>" + o.MeetDate + "</li><li>" + o.MeetTime + "</li><li>" + o.PeoperNum + "</li><li>" + o.PeoperMoney + "</li><li>" + o.AllPeoperMoney + "</li><li>" + GetStateN(o.State) + "</li><li class=\"last\" onclick=\"FindOrderLists(this,'" + o.OrderNo + "')\">展开</li></ul>";
                                str += "<tr><td>" + (i + 1) + "</td><td>" + o.OrderNo + "</td><td>" + o.MSType + "</td><td>" + o.MeetDate + "</td><td>" + o.MeetTime + "</td><td>" + o.PeoperNum + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + GetStateN(o.State) + "</td><td><a href='#' onclick=\"FindOrderLists(this,'" + o.OrderNo + "')\">查看</a></td></tr>";
                            })
                            str += "</table>";
                            $("#tblist").html(str);
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
        })
        //会单状态
        GetStateN = function (v) {
            if (v == 1) return '活会';
            if (v == 2) return '死会';
            if (v == 3) return '险会';
        }
        FindOrderLists = function (e, No) {
            $.ajax({
                type: "GET",
                url: '/Order/OrderLists',
                data: { orderno: No },
                dataType: 'json',
                success: function (data) {
                    //var str = "<div id=\"jl" + No + "\"><ul class=\"th\"><li>记录ID</li><li>标会日期</li><li>真实姓名</li><li>标金金额</li><li>记录状态</li><li class=\"last\">操作</li></ul>";
                    var str = "<table class=\"tablelist\" id=\"jl" + No + "\"><tr><th>记录ID</th><th>标会日期</th><th>真实姓名</th><th>标金金额</th><th>记录状态</th><th>操作</th></tr>";
                    var objdata = data.jsonresult;
                    if (data.success) {
                        $.each(objdata, function (i, o) {
                            //var cztext = "填写标金"; if (o.State == "1") cztext = "展开明细";
                            //str += "<ul class=\"td\"><li>" + o.ID + "</li><li>" + o.MeetDate + "</li><li>" + o.TrueName + "</li><li>" + o.AccrualMoney + "</li><li>" + o.State + "</li><li class=\"last\" onclick=\"FindOrderUser(" + o.State + ")\">" + cztext + "</li></ul>";
                            str += "<tr><td>" + o.ID + "</td><td>" + o.MeetDate + "</td><td>" + o.TrueName + "</td><td>" + o.AccrualMoney + "</td><td>" + o.State + "</td><td><button onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">标金</butoon><button onclick=\"FindOrderUser(" + o.ID + "," + o.State + ")\">明细</butoon><button onclick=\"UpdateOrderListState('" + No + "'," + o.ID + "," + o.State + ")\">更新结果</butoon></td></tr>";
                        })
                        str += "</table>";
                        //$(e).parent().parent().after(str);
                        ds.dialog({ title: '会单记录', content: str, timeout: 0 });
                    } 
                }
            });
        }
        FindOrderUser = function (No, listid, state) {
            if (state == "1") {
                $.getJSON("/Order/OrderListUsers", { listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var str = "<table class=\"tablelist\"><tr><th>真实姓名</th><th>标金金额</th><th>最后提交时间</th></tr>";
                        $.each(ret.jsonresult, function (i, obj) {
                            str += "<tr><td>" + obj.TrueName + "</td><td>" + obj.AccrualMoney + "</td><td>" + obj.Lastdate + "</td></tr>";
                        })
                        str += "</table>";
                        ds.dialog({ title: '会单明细', content: str, timeout: 0 });
                    }
                });
            } if (state == "2") {
                $.getJSON("/Order/GetOrderListUserPrvMoney", { listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var data = ret.jsonresult;
                        var str = "<table class=\"tablelist\"><tr><th>标金金额</th><th>最后提交时间</th><th>操作</th></tr>";
                        str += "<tr><td><input type=\"text\" style=\"text-align:center\" value=" + data.AccrualMoney + "></td><td>" + data.Lastdate + "</td><td><button onclick=\"UpdateUserMoney('" + No + "'," + listid + ",this)\">更新</butoon></td></tr>";
                        str += "</table>";
                        ds.dialog({ title: '填写标金', content: str, timeout: 0 });
                    }
                });
            }
        }
        //提交标金
        UpdateUserMoney = function (No, listid, e) {
            var text = $(e).parent().parent().find("input").val();
            $.getJSON("/Order/UpdateOrderListUserMoney", { orderno: No, listid: listid, money: text }, function (ret) {
                if (ret.code == 1000) {
                    console.log(ret.msg)
                }
            });
        }
        //更新结果
        UpdateOrderListState = function (No, listid, state) {
            if (state == "2") {
                $.getJSON("/Order/UpdateOrderListState", { orderno: No, listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        console.log(ret)
                    }
                });
            }
        }
    </script>
</body>
</html>
