@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderPortal</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var _friendids = [];
        createidslist = function (friendids) {
            var str = "";
            $.each(friendids, function (i, o) {
                str += "<li class=\"list-group-item\"><span style=\"margin-right:10px;\">" + parseInt(i + 1) + "</span><span style=\"margin-right:10px;\">" + o.id + "</span><span style=\"margin-right:10px;\">" + o.tname + "</span><span style=\"margin-right:10px;\">" + o.phone + "</span></li>";
            })
            $("#ulist").html(str);
        }
        $(function () {
            $("#orderbtn").click(function () {
                var moneystype = $("#moneysendtype").val(); //会款发放方式
                var meettype = $("#meettype").val();        //标会类型
                var meetnum = $("#meetnum").val();          //每N月标会次数
                var meetextnum = $("#meetextnum").val();          //每N月标会次数
                var peomoney = $("#peomoney").val();        //会费金额
                var lowestmoney = $("#lowestmoney").val();  //最低标会金额
                var remark = $("#remark").val();            //备注
                var firstdate = $("#firstdate").val();      //首次标会日期
                var firstextradate = $("#firstextradate").val(); //首次加标日期
                var peonum = $("#peopernum").val();         //标会人数
                var address = $("#address").val();                 //标会地址
                var uids = JSON.stringify(_friendids);       //会员列表
                var data = {
                    moneystype: moneystype,
                    meettype: meettype,
                    meetnum: meetnum,
                    meetextnum:meetextnum,
                    peomoney: peomoney,
                    lowestmoney: lowestmoney,
                    address:address,
                    remark: remark,
                    firstdate: firstdate,
                    firstextradate: firstextradate,
                    peonum: peonum,
                    uids: uids,
                };
                $.ajax({
                    type: "POST",
                    url: '/Order/CreateOrder',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            tips(data.msg, 2);
                        } else {
                            console.log("1213123")
                        }
                    }
                });
            })
            $("#meettype").change(function () {
                var value = $(this).val();
                if (value == 1) {
                    //加标日期
                    $("#tr_num").hide(); $("#firstextradate").val("");
                    //加标频率
                    $("#tr_fre").hide(); $("#meetnum option").eq(0).prop('selected', 'true');
                    //自定加标时间列表
                }
                else if (value == 2) {
                    $("#tr_num").show();
                    $("#tr_fre").hide(); $("#meetnum option").eq(0).prop('selected', 'selected');
                }
                else if (value == 3) {
                    $("#tr_num").show();
                    $("#tr_fre").show();
                }
            })
            //////////////////////////////////////////////////////////
            $("#btn_firend").click(function () {
                var content = "<iframe id=\"NoPermissioniframe\" width=\"100%\" src=\"/TUser/TUserFriend\" height=\"100%\" frameborder=\"0\"></iframe>";
                qiu_confirm("选择参会用户", content);
            })
        })
        //弹于信息tips
        tips = function (content, timeout) {
            var BootDialog = "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"modal-body\">" + content + "</div></div></div></div>";
            var obj = $(BootDialog); obj.modal('show');
            setTimeout(function () { obj.modal('hide') }, timeout * 1000);
        }
        //弹出窗体
        qiu_confirm = function (title, content) {
            var iframe = $("#myModal");
            if (iframe.length > 0) {
                iframe.modal('show');
                return;
            }
            var header = "<div class=\"modal-header\"><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button><h4 class=\"modal-title\" id=\"myModalLabel\">" + title + "</h4></div>"
            var footer = "<div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">取消</button><button id=\"Tj\" type=\"button\" class=\"btn btn-primary\">确定</button></div>";
            var BootDialog = "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\">" + header + "<div class=\"modal-body\" style=\"height:755px\">" + content + "</div>" + footer + "</div></div></div>";
            var obj = $(BootDialog);obj.modal('show');
            obj.find("#Tj").click(function () {
                _friendids = $(window.frames["NoPermissioniframe"])[0].contentWindow.friendids;    //取得ids数组
                createidslist(_friendids);   //创建参会用户列表
                obj.modal('hide');  //关闭弹窗
                $("#peopernum").val(_friendids.length)
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">放款类型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="moneysendtype">
                        <option value="1">会款总额+利息</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标会类型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="meettype">
                        <option value="1">每N月标会一次</option>
                        <option value="2">每月都加标</option>
                        <option value="3">每N次标会后加标一次</option>
                        <option value="4">自定义加标</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标会频率</label>
                <div class="col-sm-10">
                    <select class="form-control" id="meetnum">
                        <option value="1">1个月</option>
                        <option value="2">2个月</option>
                        <option value="3">3个月</option>
                        <option value="4">4个月</option>
                        <option value="5">5个月</option>
                        <option value="6">6个月</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">首次标会日期时间</label>
                <div class="col-sm-10">
                    <input class="form-control" id="firstdate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" />
                </div>
            </div>
            <div class="form-group" id="tr_fre" style="display:none">
                <label class="col-sm-2 control-label">加标频率</label>
                <div class="col-sm-10">
                    <select class="form-control" id="meetextnum">
                        <option value="1">每隔1个月加标一次</option>
                        <option value="2">每隔2个月加标一次</option>
                        <option value="3">每隔3个月加标一次</option>
                        <option value="4">每隔4个月加标一次</option>
                        <option value="5">每隔5个月加标一次</option>
                        <option value="6">每隔6个月加标一次</option>
                        <option value="7">每隔7个月加标一次</option>
                        <option value="8">每隔8个月加标一次</option>
                        <option value="9">每隔9个月加标一次</option>
                        <option value="10">每隔10个月加标一次</option>
                        <option value="11">每隔11个月加标一次</option>
                        <option value="12">每隔12个月加标一次</option>

                    </select>
                </div>
            </div>
            <div class="form-group" id="tr_num" style="display:none">
                <label class="col-sm-2 control-label">首次加标日期时间</label>
                <div class="col-sm-10">
                    <input class="form-control" id="firstextradate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">会费金额</label>
                <div class="col-sm-10">
                    <input class="form-control" id="peomoney" type="number" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">最低标息</label>
                <div class="col-sm-10">
                    <input class="form-control" id="lowestmoney" type="number" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标会地址</label>
                <div class="col-sm-10">
                    <input class="form-control" id="address" type="text" maxlength="250" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <textarea id="remark" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">会员人数</label>
                <div class="col-sm-10">
                    <input class="form-control" id="peopernum" type="number" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">会员列表</label>
                <div class="col-sm-10">
                    <input id="btn_firend" type="button" class="btn btn-default" value="打开好友列表" />
                    <ul id="ulist" class="list-group"></ul>
                </div>
            </div>
            <div class="form-group">
                <input id="orderbtn" class="btn btn-default col-sm-2 col-md-offset-2" value="提交" />
            </div>
        </form>
    </div>

    <table style="display:none">
        <tr><td>放款类型</td><td><select id="moneysendtype"><option value="1">会款总额+利息</option></select></td></tr>
        <tr>
            <td>标会类型</td>
            <td>
                <select id="meettype">
                    <option value="1">约定标会日期</option>
                    <option value="2">每月都加标</option>
                    <option value="3">每N月加标一次</option>
                    <option value="4">自定义加标</option>
                </select>
            </td>
        </tr>
        <tr id="tr_num" style="display:none">
            <td>首次加标日期时间</td>
            <td>
                <input id="firstextradate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" />
                <select id="meetnum">
                    <option value="1">每隔1个月加标一次</option>
                    <option value="2">每隔2个月加标一次</option>
                    <option value="3">每隔3个月加标一次</option>
                    <option value="4">每隔4个月加标一次</option>
                    <option value="5">每隔5个月加标一次</option>
                </select>
            </td>
        </tr>
        <tr><td>首次标会日期时间</td><td><input id="firstdate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" /></td></tr>
        <tr><td>会费金额</td><td><input id="peomoney" type="text" /></td></tr>
        <tr><td>最低标金金额</td><td><input id="lowestmoney" type="text" /></td></tr>
        <tr><td>会员人数</td><td><input id="peopernum" type="text" /></td></tr>
        <tr>
            <td>会员列表：</td>
            <td>
                <ul id="ulist"></ul>
            </td>
        </tr>
        <tr><td colspan="2"><button id="orderbtn">提交</button></td></tr>
    </table>
</body>
</html>
