<!DOCTYPE html>

<html>
<head>
    <title>OrderWxLists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/WeiXin/css/table.css" rel="stylesheet" />
    <link href="~/Content/WeiXin/BeatPicker/BeatPicker.min.css" rel="stylesheet" />
    <script src="~/Content/WeiXin/fixTable/fixTable.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/BeatPicker.min.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/jquery-1.11.0.min.js"></script>
    <script src="~/Content/WeiXin/js/table.js"></script>
    <script>
        $(function () {
            call2(768, 100);
            Init();
        })
        //会单号,记录列表ID,记录列表状态
        FindOrderUser = function (No, listid, state) {
            if (state == "1") {
                //明细
                $.getJSON("/Order/OrderListUsers", { listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:61px;\">竞标人</th><th style=\"width:61px;\">竞标金额</th><th style=\"width:160px;\">最后提交时间</th></tr></thead>";
                        $.each(ret.jsonresult, function (i, obj) {
                            str += "<tr><td>" + obj.TrueName + "</td><td>" + obj.AccrualMoney + "</td><td>" + obj.Lastdate + "</td></tr>";
                        })
                        str += "</table>";
                        //ds.dialog({ title: '会单明细', content: str, timeout: 0 });
                        qiu_confirm("qin_jldetail", "会单记录明细", str, null, 700);
                    }
                });
            } if (state == "2") {
                $.getJSON("/Order/GetOrderListUserPrvMoney", { orderno: No, listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var data = ret.jsonresult;
                        var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th>标金金额</th><th>最后提交时间</th><th>操作</th></tr></thead>";
                        str += "<tr><td><input type=\"text\" style=\"text-align:center\" value=" + data.AccrualMoney + "></td><td>" + data.Lastdate + "</td><td><button class=\"btn btn-primary btn-sm\" onclick=\"UpdateUserMoney('" + No + "'," + listid + ",this)\">更新</butoon></td></tr>";
                        str += "</table>";
                        //ds.dialog({ title: '填写标金', content: str, timeout: 0 });
                        qiu_confirm("qin_prvmy", "填写标金", str);
                    } else {

                    }
                });
            }
            if (state == "3") {
                ds.dialog.tips("当前期无人参与竞标或者最高竞标金额少于最低竞标额!等待会头处理...", 2, true, true);
            }
        }
        Init = function () {
            var tr = $(".data-list tbody").find("tr");
            $.each(tr, function (i, o) {
                console.log($(o))
                var h = $(o).eq(0).find("td").eq(4).html();
                console.log(h);
                $(o).eq(4).html(ReBtnHtml(h));
            })
        }
        ReBtnHtml = function (state) {
            var czstr = "";
            if (state == 1)
                czstr = "<button class=\"btn_fz\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">查看明细</butoon>";
            if (state == 2)
                czstr = "<button class=\"btn_fz\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">填写标金</butoon>";
            return czstr;
        }
    </script>
</head>
<body>
    <div class="conditional">
        <table width="100%" class="everyday">
            <tr>
                <th align="left">查询</th>
                <th align="right">返回</th>
            </tr>
        </table>
    </div>

    <div class="cont">
        <div class="data-table">
            <div class="data-list">
                <table style="min-width:400px;" id="MyTable" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>开标日期</th>
                            <th>夺标金额</th>
                            <th>夺标人</th>
                            <th>状态</th>
                        </tr>
                    </thead>

                    <tbody>
                            @foreach (var item in ViewBag.List)
                            {
                                <tr><td>@item.MeetDate</td><td>@item.AccrualMoney</td><td>@item.TrueName</td><td>@item.State</td></tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="goTop">TOP</div>
    <div class="footnav">
        <ul>
            <li id="foot1"><a href="javascript:void(0);">1</a></li>
            <li id="foot2">
                <a href="javascript:void(0);">2</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot3">
                <a href="javascript:void(0);">3</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot4"><a href="javascript:void(0);">4</a></li>
        </ul>
    </div>
</body>
</html>
