<!DOCTYPE html>

<html>
<head>
    <title>OrderWxLists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Content/WeiXin/css/table.css" rel="stylesheet" />
    <link href="~/Content/WeiXin/BeatPicker/BeatPicker.min.css" rel="stylesheet" />
    <script src="~/Content/WeiXin/fixTable/fixTable.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/BeatPicker.min.js"></script>
    <script src="~/Content/WeiXin/BeatPicker/jquery-1.11.0.min.js"></script>
    <script src="~/Content/WeiXin/js/table.js"></script>
    <script>
        $(function () {
            call2(768, 100);
            Init();
        })
        //会单号,记录列表ID,记录列表状态
        FindOrderUser = function (No, listid, state) {
            if (state == "1") {
                //明细
                $.getJSON("/Order/OrderListUsers", { listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        var str = "";
                        $("#data-list2 tbody").html("");
                        $.each(ret.jsonresult, function (i, obj) {
                            str += "<tr><td>" + obj.TrueName + "</td><td>" + obj.AccrualMoney + "</td><td>" + obj.Lastdate + "</td></tr>";
                        })
                        $("#data-list2 tbody").append(str);
                        $(".details_bg").show();
                        call3(768, 100);
                    }
                });
            } if (state == "2") {
                $.getJSON("/Order/GetOrderListUserPrvMoney", { orderno: No, listid: listid }, function (ret) {
                    if (ret.code == 1000) {
                        $("#txt_bj").val(ret.jsonresult.AccrualMoney);
                        $("#bj_lastd").html(ret.jsonresult.Lastdate);
                        $("#up_bjin").bind("click", function () {
                            UpdateUserMoney(No, listid, this);
                        })
                        $(".update_bg").show();
                    } 
                });
            }
            if (state == "3") {
                ds.dialog.tips("当前期无人参与竞标或者最高竞标金额少于最低竞标额!等待会头处理...", 2, true, true);
            }
        }
        //提交标金
        UpdateUserMoney = function (No, listid, e) {
            var text = $("#txt_bj").val();
            $.getJSON("/Order/UpdateOrderListUserMoney", { orderno: No, listid: listid, money: text }, function (ret) {
                if (ret.code == 1000) {
                    alert('更新成功');
                }else
                    alert('没有提交成功，需要重新提交.');
            });
        }
        Init = function () {
            var tr = $(".data-list tbody").find("tr");
            $.each(tr, function (i, o) {
                var h = $(o).find("td").eq(3).html();
                $(o).eq(3).html(ReBtnHtml(h));
            })
        }
        ReBtnHtml = function (state) {
            var czstr = "";
            if (state == 1)
                czstr = "<button class=\"btn_fz\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">查看明细</butoon>";
            if (state == 2)
                czstr = "<button class=\"btn_fz\" onclick=\"FindOrderUser('" + No + "'," + o.ID + "," + o.State + ")\">填写标金</butoon>";
            return czstr;
        }
    </script>
</head>
<body>
    <div class="conditional">
        <table width="100%" class="everyday">
            <tr>
                <th align="left">查询</th>
                <th align="right" onclick="javascript:window.history.go(-1)">返回</th>
            </tr>
        </table>
    </div>

    <div class="cont">
        <div class="data-table">
            <div class="data-list">
                <table style="min-width:400px;" id="MyTable" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>开标日期</th>
                            <th>夺标金额</th>
                            <th>夺标人</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        @Html.Raw(ViewBag.List)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="goTop">TOP</div>
    <div class="footnav">
        <ul>
            <li id="foot1"><a href="javascript:void(0);">1</a></li>
            <li id="foot2">
                <a href="javascript:void(0);">2</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot3">
                <a href="javascript:void(0);">3</a>
                <div class="footdiv" id="footdiv3">
                    <div>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                        <a href="javascript:void(0);">3</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </li>
            <li id="foot4"><a href="javascript:void(0);">4</a></li>
        </ul>
    </div>

    <div class="details_bg" style="display:none;">
        <div class="details_close">X</div>
        <div class="details_cont">
            <div class="data-table" id="data-table2">
                <div class="data-list" id="data-list2">
                    <table style="min-width:400px;" id="MyTable2" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>竞标人</th>
                                <th>竞标金额</th>
                                <th>最后提交时间</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="update_bg">
        <div class="update_cont">
            <h3>填写标金<i class="update_close">X</i></h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>竞标金额</th>
                        <th>最后提交时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%"><input type="text" id="txt_bj" /></td>
                        <td width="45%" id="bj_lastd">2018-02-25 14:12:29.890</td>
                        <td><button id="up_bjin">更新</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
