@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderPortal</title>
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        delebefore = function () {
            var list = friendids;
            var str = "";
            $.each(list, function (i, o) {
                str += "<li><span>" + parseInt(i + 1) + "</span><span>" + o.id + "</span><span>" + o.tname + "</span><span>" + o.phone + "</span></li>";
            })
            $("#ulist").html(str);
        }
        $(function () {
            $("#orderbtn").click(function () {
                var moneystype = $("#moneysendtype").val(); //会款发放方式
                var meettype = $("#meettype").val();        //标会类型
                var meetnum = $("#meetnum").val();          //每月标会次数
                var peomoney = $("#peomoney").val();        //会费金额
                var lowestmoney = $("#lowestmoney").val();  //最低标会金额
                var firstdate = $("#firstdate").val();      //首次标会日期
                var firtextradate = $("#firstextradate").val(); //首次加标日期
                var peonum = $("#peopernum").val();         //标会人数
                var uids = JSON.stringify(friendids);       //会员列表
                var data = {
                    peonum: peonum,
                    uids: uids,
                    peomoney: peomoney,
                    lowestmoney: lowestmoney,
                    moneystype: moneystype,
                    meettype: meettype,
                    meetnum: meetnum,
                    firstdate: firstdate
                };
                $.ajax({
                    type: "POST",
                    url: '/Order/CreateOrder',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            console.log(data.msg)
                        } else {
                            console.log("1213123")
                        }
                    }
                });
            })
            $("#meettype").change(function () {
                var value = $(this).val();
                if (value == 1) {
                    $("#tr_num").hide();
                    $("#firstextradate").val("");
                    $("#meetnum option").eq(0).attr('selected', 'true');
                }
                else if (value == 2) {
                    $("#tr_num").show();
                    $("#meetnum").hide();
                    $("#meetnum option").eq(0).attr('selected', 'selected');
                }
                else if (value == 3) {
                    $("#tr_num").show();
                    $("#meetnum").show();
                }
            })
        })
    </script>
</head>
<body>
    <table>
        <tr><td>放款类型</td><td><select id="moneysendtype"><option value="1">会款总额+利息</option></select></td></tr>
        <tr><td>标会类型</td>
            <td>
                <select id="meettype">
                    <option value="1">约定标会日期</option>
                    <option value="2">每月都加标</option>
                    <option value="3">每N月加标一次</option>
                    <option value="4">自定义加标</option>
                </select>
            </td>
        </tr>
        <tr id="tr_num" style="display:none">
            <td>首次加标日期时间</td>
            <td>
                <input id="firstextradate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" />
                <select id="meetnum">
                    <option value="1">每隔1个月加标一次</option>
                    <option value="2">每隔2个月加标一次</option>
                    <option value="3">每隔3个月加标一次</option>
                    <option value="4">每隔4个月加标一次</option>
                    <option value="5">每隔5个月加标一次</option>
                </select>
            </td>
        </tr>
        <tr><td>首次标会日期时间</td><td><input id="firstdate" type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', readOnly: true })" /></td></tr>
        <tr><td>会费金额</td><td><input id="peomoney" type="text" /></td></tr>
        <tr><td>最低标金金额</td><td><input id="lowestmoney" type="text" /></td></tr>
        <tr><td>会员人数</td><td><input id="peopernum" type="text" /></td></tr>
        <tr>
            <td>会员列表：</td>
            <td>
                <ul id="ulist"></ul>
            </td>
        </tr>
        <tr><td colspan="2"><button id="orderbtn">提交</button></td></tr>
    </table>
    @Html.Action("TUserFriend", "TUser")
</body>
</html>
