@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>手机会单主页</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="container" style="padding:0">
        <div class="panel panel-primary">
            <div class="panel-heading" style="overflow:auto">
                <img onclick="window.history.back()" style="height:34px;width:34px;float:left" src="~/Content/Icon/CommonIcon/1186174.png" class="img-rounded">
                <button class="btn btn-default" style="float:right" type="button">
                    <i class="glyphicon glyphicon-align-justify"></i>
                    全
                </button>
            </div>
            <div class="panel-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">正在进行中</a>
                    </li>
                    <li><a href="#ios" data-toggle="tab">已经结束的</a></li>
                    <li class="dropdown">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                            Java <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="min-width: auto;">
                            <li>
                                <a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a>
                            </li>
                            <li>
                                <a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>城市</th>
                                    <th>密码</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tanmay</td>
                                    <td>Bangalore</td>
                                    <td>560001</td>
                                </tr>
                                <tr>
                                    <td>Sachin</td>
                                    <td>Mumbai</td>
                                    <td>400003</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="ios">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>城市</th>
                                    <th>密码</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tanmay</td>
                                    <td>Bangalore</td>
                                    <td>560001</td>
                                </tr>
                                <tr>
                                    <td>Sachin</td>
                                    <td>Mumbai</td>
                                    <td>400003</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="jmeter">
                        <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                    </div>
                    <div class="tab-pane fade" id="ejb">
                        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。</p>
                    </div>
                </div>
                <script>
                $(function () {
                    $('#myTab li:eq(0) a').tab('show');
                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
