@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>手机会单主页</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/iscroll.js"></script>
    <script>


        var myScroll,
            pullDownEl, pullDownOffset,
            pullUpEl, pullUpOffset,
            generatedCount = 0;

        function pullDownAction() {
            setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
                var el, li, i;
                el = document.getElementById('thelist');

                for (i = 0; i < 3; i++) {
                    li = document.createElement('li');
                    li.innerText = 'Generated row ' + (++generatedCount);
                    el.insertBefore(li, el.childNodes[0]);
                }

                myScroll.refresh();		// Remember to refresh when contents are loaded (ie: on ajax completion)
            }, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
        }

        function pullUpAction() {
            setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
                var el, li, i;
                el = document.getElementById('thelist');

                for (i = 0; i < 3; i++) {
                    li = document.createElement('li');
                    li.innerText = 'Generated row ' + (++generatedCount);
                    el.appendChild(li, el.childNodes[0]);
                }

                myScroll.refresh();		// Remember to refresh when contents are loaded (ie: on ajax completion)
            }, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
        }

        function loaded() {
            pullDownEl = document.getElementById('pullDown');
            pullDownOffset = pullDownEl.offsetHeight;
            pullUpEl = document.getElementById('pullUp');
            pullUpOffset = pullUpEl.offsetHeight;

            myScroll = new iScroll('wrapper', {
                useTransition: true,
                topOffset: pullDownOffset,
                onRefresh: function () {
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Pull down to refresh...';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Pull up to load more...';
                    }
                },
                onScrollMove: function () {
                    if (this.y > 5 && !pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Release to refresh...';
                        this.minScrollY = 0;
                    } else if (this.y < 5 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Pull down to refresh...';
                        this.minScrollY = -pullDownOffset;
                    } else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Release to refresh...';
                        this.maxScrollY = this.maxScrollY;
                    } else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Pull up to load more...';
                        this.maxScrollY = pullUpOffset;
                    }
                },
                onScrollEnd: function () {
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Loading...';
                        pullDownAction();	// Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Loading...';
                        pullUpAction();	// Execute custom function (ajax call?)
                    }
                }
            });

            setTimeout(function () { document.getElementById('wrapper').style.left = '0'; }, 800);
        }

        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

        document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);

    </script>
    <script type="text/javascript">
        $(function () {
            findorder();
        })
        findorder = function () {
            var pageIndex = 0;
            var pageSize = 10;
            $.ajax({
                type: "GET",
                url: '/Order/ListOrderPage',
                data: { pageIndex: pageIndex, pageSize: pageSize },
                dataType: 'json',
                success: function (data) {
                    var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th>标会时间</th><th>金额</th><th>总金额</th><th>会头</th></tr></thead>";
                    var objdata = data.list;
                    console.log(objdata)
                    if (data.success) {
                        $.each(objdata, function (i, o) {
                            console.log(o)
                            str += "<tr><td>" + o.FirstDate + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + o.TouTrueName + "</td></tr>";
                        })
                        str += "</table>";
                        $("#home").html(str);
                    //    //listtips = ds.dialog({ title: '会单记录', content: str, timeout: 0 });
                    //    qiu_confirm("qin_orderlist", "会单记录列表", str, 700, 700);
                    }
                }
            });
        }
        newwindow = function (url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
    <div class="container" style="padding:0">
        <div class="panel panel-primary">
            <div class="panel-heading" style="overflow:auto">
                <img onclick="window.history.back()" style="height:34px;width:34px;float:left" src="~/Content/Icon/CommonIcon/1186174.png" class="img-rounded">
                <button class="btn btn-default" style="float:right;display:block;margin-left:10px" type="button">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <img onclick="newwindow('/Order/OrderPortal')" style="height:34px;width:34px;float:right;margin-left:10px" src="~/Content/Icon/CommonIcon/1183388.png" class="img-rounded">
                <img onclick="newwindow('/TUser/index')" style="height:34px;width:34px;float:right;margin-left:10px" src="~/Content/Icon/CommonIcon/1200704.png" class="img-rounded">
            </div>
            <div class="panel-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">正在进行中</a>
                    </li>
                    <li><a href="#ios" data-toggle="tab">已经结束的</a></li>
                    <li class="dropdown">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                            Java <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" style="min-width: auto;">
                            <li>
                                <a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a>
                            </li>
                            <li>
                                <a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>城市</th>
                                    <th>密码</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tanmay</td>
                                    <td>Bangalore</td>
                                    <td>560001</td>
                                </tr>
                                <tr>
                                    <td>Sachin</td>
                                    <td>Mumbai</td>
                                    <td>400003</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="ios">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>城市</th>
                                    <th>密码</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tanmay</td>
                                    <td>Bangalore</td>
                                    <td>560001</td>
                                </tr>
                                <tr>
                                    <td>Sachin</td>
                                    <td>Mumbai</td>
                                    <td>400003</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                                <tr>
                                    <td>Uma</td>
                                    <td>Pune</td>
                                    <td>411027</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="jmeter">
                        <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                    </div>
                    <div class="tab-pane fade" id="ejb">
                        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。</p>
                    </div>
                </div>
                <script>
                $(function () {
                    $('#myTab li:eq(0) a').tab('show');
                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
