/*
    布局top
*/
.layout_top_right {
    float:right;
    width:500px;
    height:60px;
}
.layout_top_right .other{
    float:right;
    height:57px;
    margin: 3px 30px 0 0;
}
.layout_top_right .other .sys{
    line-height:18px;
}
.layout_top_right .other .sys span{
    margin-left:5px;
    cursor:pointer;
}
.layout_top_right .other img{
    width:16px;
    height:16px;
    vertical-align: middle;
}
.layout_top_right .other .lock{
    line-height:14px;
}
.layout_top_right .tx{
    float:left;
    width:60px;
    height:60px;
    background: url("../Content/img/tx.png") no-repeat;
    border-radius:10px;
}
.layout_top_right .userinfo{
    float:left;
    margin:3px 0 0 10px;
    width:150px;
    text-align:right;
    font:bold;
    line-height:14px;
}
.layout_top_right .userinfo span{
    color:#e96a66;
}



