@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/bootstrap.min.js"></script>
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <style type="text/css">
        .table > tbody > tr > td,
        .table > thead > tr > th{
            vertical-align:middle;
            text-align:center;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //点击查询
            $("#search").click(function () {
                var isInited = $("#page").pagination();
                if (isInited) $("#page").pagination('destroy');
                var text = $("#fieldv").val();
                var type = $("#field").attr("v_val");
                $("#page").pagination({
                    firstBtnText: '首页',
                    lastBtnText: '尾页',
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    showInfo: true,
                    showJump: true,
                    jumpBtnText: '跳转',
                    showPageSizes: true,
                    infoFormat: '{start} ~ {end}条，共{total}条',
                    debug: true,
                    pageElementSort: ['$page', '$size', '$jump', '$info'],
                    remote: {
                        url: '/TUser/ListTUserPage',                //请求地址
                        params: { text: text, type: type },         //自定义请求参数
                        success: function (data) {
                            var caption = "<caption><div class=\"btn-toolbar\" role=\"toolbar\">";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"CreateNew()\">新增</button></div>";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"EditById()\">编辑</button></div>";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"RemoveById()\">删除</button></div>";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\" onclick=\"takefinds()\">加为好友</button></div>";
                            caption += "</div></caption>";

                            var str = "<table class=\"table table-bordered table-hover\"><thead><tr>";
                            str += "<th style=\"width:6%;\"><label class=\"checkbox-inline\"><input id=\"allqx\" type=\"checkbox\" />全选</label></th>";
                            str += "<th style=\"width:60px;\">用户ID</th><th style=\"width:100px;\">用户账号</th><th style=\"width:120px;\">用户昵称</th><th style=\"width:80px;\">真实姓名</th>";
                            str += "<th style=\"width:170px;\">身份证号</th><th style=\"width:118px;\">手机号码</th><th style=\"width:60px;\">会员状态</th>";
                            str += "<th style=\"width:60px;\">操作</th></tr></thead>" + caption;
                            
                            $.each(data.list, function (i, o) {
                                str += "<tr><td style=\"text-align:center\"><input type=\"checkbox\" value=\"" + o.id + "\"></td><td onclick=\"addatr(this)\">" + o.id + "</td><td>" + o.UserName + "</td><td>" + o.NickName + "</td><td>" + o.TrueName + "</td><td>" + o.IdentityNum + "</td><td>" + o.Phone + "</td><td>" + o.State + "</td><td><a class=\"btn btn-default btn-sm\" href=\"/TUser/EditPortal?id=" + o.id + "\" role=\"button\" target=\"_blank\">查看</a></td></tr>";
                            })
                            str += "</table>";
                            $("#tblist").html(str);
                            //点击全选调用
                            $("#allqx").click(function () { togglechg(); })
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
            //下拉列表附值
            $('.dropdown-menu a').click(function () {
                var txt = $(this).text(); var val = $(this).attr("v_val");
                var objdrop = $(this).parent().parent().siblings("button").eq(0);
                objdrop.text(txt); objdrop.attr("v_val", val);
            })
            //点击全选
            togglechg = function () {
                var qx = $("#allqx");
                var tr = $("#tblist tbody tr")
                $.each(tr, function (i, e) {
                    var eachobj = $(e).children("td").eq(0).find(":checkbox");
                    if (qx.prop("checked")) eachobj.prop("checked", true); else eachobj.prop("checked", false);
                })
            }
            //新增用户
            CreateNew = function () {
                window.open("/TUser/RegTUser", "_blank");
            }
            //修改用户
            EditById = function () {
                var tr = $("#tblist tbody tr"); var checknum = 0;//选中个数
                var uid = 0;
                $.each(tr, function (i, e) {
                    var eachobj = $(e).children("td").eq(0).find(":checkbox");
                    if (eachobj.prop("checked")) {
                        checknum++;
                        uid = eachobj.val();
                    }
                })
                if (checknum > 1 || checknum == 0) {
                    tips("请选中一条记录进行更新", 1);
                    return 
                }
                window.open("/TUser/EditPortal?id=" + uid, "_blank");
            }
            //删除用户
            RemoveById = function () {
                var list = [];      //数组对象，将
                var data;           //元素对象
                var tr = $("#tblist tbody tr");
                $.each(tr, function (i, e) {
                    var eachobj = $(e).children("td").eq(0).find(":checkbox");
                    if (eachobj.prop("checked")) {
                        data = new Object();    //元素对象实例
                        data.id = eachobj.val();
                        list.push(data);
                    }
                })
                $.ajax({
                    type: "POST",
                    url: '/TUser/Remove',
                    data: { data: JSON.stringify(list) },
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            tips(data.msg, 2);
                        } else {
                            tips(data.msg, 2);
                        }
                    }
                });
            }
            //读取用户ID，添加到好友
            takefinds = function () {
                var list = [];      //数组对象，将
                var data;           //元素对象
                var tr = $("#tblist tbody tr");
                $.each(tr, function (i, e) {
                    var eachobj = $(e).children("td").eq(0).find(":checkbox");
                    if (eachobj.prop("checked")) {
                        data = new Object();    //元素对象实例
                        data.id = eachobj.val();
                        list.push(data);
                    }
                })
                $.ajax({
                    type: "POST",
                    url: '/TUser/CreateFriend',
                    data: { data: JSON.stringify(list) },
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            tips(data.msg, 2);
                        } else {
                            tips(data.msg, 2);
                        }
                    }
                });
            }
            //弹出窗体
            qiu_confirm = function (id, title, content, width, height) {
                var iframe = $(id);
                if (iframe.length > 0) {
                    iframe.modal('show');
                    return;
                }
                if (width != null) {
                    width = "style=\"width:" + width + "px\"";
                }
                if (height != null) {
                    height = "style=\"height:" + height + "px;overflow:auto\"";
                }
                var header = "<div class=\"modal-header\"><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button><h4 class=\"modal-title\" id=\"myModalLabel\">" + title + "</h4></div>"
                var footer = "<div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">关闭</button></div>";
                var BootDialog = "<div class=\"modal fade\" id=\"" + id + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
                BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"" + width + ">" + header + "<div class=\"modal-body\"" + height + ">" + content + "</div>" + footer + "</div></div></div>";
                var obj = $(BootDialog); obj.modal('show');
                //obj.find("#Tj").click(function () {
                //    obj.modal('hide');
                //})
            }
            //弹于信息tips
            tips = function (content, timeout) {
                var BootDialog = "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
                BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"modal-body\">" + content + "</div></div></div></div>";
                var obj = $(BootDialog); obj.modal('show');
                setTimeout(function () { obj.modal('hide') }, timeout * 1000);
            }
        })
    </script>
</head>

<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <form action="" class="bs-example bs-example-form" role="form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group" style="float:left;">
                                <div class="btn-group" style="float: left;">
                                    <button id="field" type="button" class="btn btn-default">默认</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
                                        <span class="caret"></span>
                                        <span class="sr-only">切换下拉菜单</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" v_val="">默认</a></li>
                                        <li><a href="#" v_val="TrueName">真实姓名</a></li>
                                        <li><a href="#" v_val="Phone">手机号码</a></li>
                                        <li><a href="#" v_val="10">身份证号码</a></li>
                                    </ul>
                                </div>
                                <input id="fieldv" type="text" class="form-control" style="width: 220px;margin:0 5px" />
                            </div><!-- /input-group -->
                            <button id="search" type="button" style="float:left; margin-left:5px;" class="btn btn-default">查询</button>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
            <div class="panel-body">
                <div id="tblist"></div>
                <div id="page" class="m-pagination"></div>
            </div>
        </div>
    </div>
</body>
</html>
