@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <style type="text/css">
        .tablelist td {
            text-align: center;
            border: 1px solid #d5d5d5;
        }

        .tablelist tr th {
            text-align: center;
            border: 1px solid #d5d5d5;
        }
    </style>

    <script type="text/javascript">
        //var list = [];
        //for (var i = 0; i < 10; i++) {
        //    var data = new Object();
        //    data.name = i + "秋";
        //    data.index = i;
        //    list.push(data);
        //}
        //$.ajax({
        //    type: "POST",
        //    url: '/TUser/TUserFriend',
        //    data: { data: JSON.stringify(list) },
        //    dataType: 'json',
        //    success: function (data) {

        //    }
        //});
    </script>

</head>
<body>
    <table>
            <tr>
                <td><input id="text" type="text"></td>
                <td colspan="3">
                    <select id="sel">
                        <option value="1">极速28</option>
                        <option value="2">PC28</option>
                        <option value="10">PK10</option>
                    </select>
                </td>
                <td>
                    <select id="row">
                        <option value="10">10条</option>
                        <option value="100">100条</option>
                        <option value="1000">1000条</option>
                        <option value="">所有</option>
                    </select>
                </td>
                <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询"></td>
                <td><div id="divretreate" style="display:none"><input id="retreate" type="button" style="width:80px; cursor:pointer" value="手动结算"></div></td>
            </tr>
    </table>
    <div id="tblist"></div>
    <div id="page" class="m-pagination"></div>
    <script>
        $("#page").pagination({
            firstBtnText: '首页',
            lastBtnText: '尾页',
            prevBtnText: '上一页',
            nextBtnText: '下一页',
            showInfo: true,
            showJump: true,
            jumpBtnText:'跳转',
            showPageSizes: true,
            infoFormat: '{start} ~ {end}条，共{total}条',
            debug: true,
            pageElementSort: ['$page', '$size', '$jump', '$info'],
            remote: {
                url: '/TUser/ListTUserPage',  //请求地址
                params: { query: "test" },       //自定义请求参数
                success: function (data) {
                    var str = "<table class=\"tablelist\"><tr><th>序号</th><th>会单ID</th><th>开会日期</th><th>开会时间</th><th>会单人数</th><th>会单金额</th><th>会单总额</th><th>会单状态</th></tr>";
                    $.each(data.list, function (i, o) {
                        str += "<tr><td>" + i + "</td><td>" + o.OrderNo + "</td><td>" + o.MeetDate + "</td><td>" + o.MeetTime + "</td><td>" + o.PeoperNum + "</td><td>" + o.PeoperMoney + "</td><td>" + o.AllPeoperMoney + "</td><td>" + o.State + "</td></tr>";
                    })
                    str += "</table>";
                    $("#tblist").html(str);
                },
                totalName: 'total'              //指定返回数据的总数据量的字段名
            }
        });
    </script>
</body>
</html>
