@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <style type="text/css">
        .tablelist td {
            text-align: center;
            border: 1px solid #d5d5d5;
        }

        .tablelist tr th {
            text-align: center;
            border: 1px solid #d5d5d5;
        }
    </style>

    <script type="text/javascript">
        //var list = [];
        //for (var i = 0; i < 10; i++) {
        //    var data = new Object();
        //    data.name = i + "秋";
        //    data.index = i;
        //    list.push(data);
        //}
        //$.ajax({
        //    type: "POST",
        //    url: '/TUser/TUserFriend',
        //    data: { data: JSON.stringify(list) },
        //    dataType: 'json',
        //    success: function (data) {

        //    }
        //});
    </script>

</head>
<body>
    <table>
            <tr>
                <td><input id="text" type="text"></td>
                <td colspan="3">
                    <select id="sel">
                        <option value="TrueName">真实姓名</option>
                        <option value="Phone">手机号码</option>
                        <option value="10">身份证号码</option>
                    </select>
                </td>
                <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询"></td>
                <td><input id="takefinds" type="button" style="width:80px; cursor:pointer" value="加为好友"></td>
            </tr>
    </table>
    <div id="tblist"></div>
    <div id="page" class="m-pagination"></div>
    <script>
        $(function () {
            $("#search").click(function () {
                var isInited = $("#page").pagination();
                if (isInited) $("#page").pagination('destroy');
                var text = $("#text").val();
                var type = $("#sel").val();
                $("#page").pagination({
                    firstBtnText: '首页',
                    lastBtnText: '尾页',
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    showInfo: true,
                    showJump: true,
                    jumpBtnText: '跳转',
                    showPageSizes: true,
                    infoFormat: '{start} ~ {end}条，共{total}条',
                    debug: true,
                    pageElementSort: ['$page', '$size', '$jump', '$info'],
                    remote: {
                        url: '/TUser/ListTUserPage',  //请求地址
                        params: { text: text, type: type },       //自定义请求参数
                        success: function (data) {
                            var str = "<table class=\"tablelist\"><tr><th>序号</th><th>用户ID</th><th>用户账号</th><th>用户昵称</th><th>真实姓名</th><th>身份证号</th><th>手机号码</th><th>会员状态</th></tr>";
                            $.each(data.list, function (i, o) {
                                str += "<tr><td>" + i + "</td><td onclick=\"addatr(this)\">" + o.id + "</td><td>" + o.UserName + "</td><td>" + o.NickName + "</td><td>" + o.TrueName + "</td><td>" + o.IdentityNum + "</td><td>" + o.Phone + "</td><td>" + o.State + "</td></tr>";
                            })
                            str += "</table>";
                            $("#tblist").html(str);
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
            var list = [];   //数组对象
            addatr = function (e) {
                $(e).attr("get", 1);
            }
            $("#takefinds").click(function () {
                var tr = $(".tablelist tr");
                var data;   //元素对象
                $.each(tr, function (i, o) {
                    var getval = $(o).find("td").eq(1).attr("get");
                    if (getval == "1") {
                        data = new Object();    //元素对象实例
                        data.id = $(o).find("td").eq(1).text();
                        list.push(data);
                    }
                })
                $.ajax({
                    type: "POST",
                    url: '/TUser/TUserFriend',
                    data: { data: JSON.stringify(list) },
                    dataType: 'json',
                    success: function (data) {

                    }
                });
            })

        })

    </script>
</body>
</html>
