@{
    Layout = null;
}
@model GetMoney.Model.TUserDto
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TUserSearch</title>
</head>
<body>
    <div>
        <div><span>用户ID</span><span>@Model.id</span></div>
        <div><span>用户呢称</span><span>@Model.NickName</span></div>
        <div><span>用户头像</span><span>@Model.TxUrl</span></div>
        <div><span>用户手机</span><span>@Model.Phone</span></div>
    </div>
</body>
</html>
