@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TUserFriend</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        var list = [];
        for (var i = 0; i < 10; i++) {
            var data = new Object();
            data.name = i + "秋";
            data.index = i;
            list.push(data);
        }
        $.ajax({
            type: "POST",
            url: '/TUser/TUserFriend',
            data: { data: JSON.stringify(list) },
            dataType: 'json',
            success: function (data) {
                
            }
        });
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
