@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TUserFriend</title>
    <link href="~/Content/TestPage/mricode.pagination.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/mricode.pagination.js"></script>
    <style type="text/css">
        .tablelist td {
            text-align: center;
            border: 1px solid #d5d5d5;
        }

        .tablelist tr th {
            text-align: center;
            border: 1px solid #d5d5d5;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#search").click(function () {
                var isInited = $("#gfriendpage").pagination();
                if (isInited) $("#gfriendpage").pagination('destroy');
                var text = $("#text").val();
                var type = $("#sel").val();
                $("#gfriendpage").pagination({
                    pageBtnCount:7,
                    prevBtnText: '上一页',
                    nextBtnText: '下一页',
                    remote: {
                        url: '/TUser/SearchFriend',  //请求地址
                        params: { text: text, type: type },       //自定义请求参数
                        success: function (data) {
                            console.log(data.success)
                            if (data.success) {
                                var str = "<table class=\"tablelist\"><tr><th>选中次数</th><th>好友ID</th><th>真实姓名</th><th>手机号码</th><th>操作</th></tr>";
                                $.each(data.list, function (i, o) {
                                    str += "<tr><td>0</td><td>" + o.Pcid + "</td><td>" + o.TrueName + "</td><td>" + o.Phone + "</td><td><span onclick=\"pitchbtn(1,this)\">添加</span><span onclick=\"pitchbtn(2,this)\">减少</span></td></tr>";
                                })
                                str += "</table>";
                                $("#gfriendtblist").html(str);
                            }
                        },
                        totalName: 'total'              //指定返回数据的总数据量的字段名
                    }
                });
            })
            //清空friends
            $("#clear").click(function () {
                friendids = [];
                $(window.parent)[0].delebefore(friendids);
            })
        })
        var friendids = [];
        //操作按钮
        pitchbtn = function (type, e) {
            var o = new Object();
            var v = $(e).parent().parent().find("td").eq(1).text(); //id值
            var tname = $(e).parent().parent().find("td").eq(2).text(); //真实姓名
            var phone = $(e).parent().parent().find("td").eq(3).text(); //手机号码
            var csobj = $(e).parent().parent().find("td").eq(0);    //第1列的TD对象
            if (type == 1) {
                o.id = v;o.tname = tname;o.phone = phone;   //对象
                friendids.push(o);  //添加
                csobj.text(parseInt(csobj.text()) + 1);
                console.log(csobj.text())
            }
            if (type == 2) {
                o.id = v;o.tname = tname;o.phone = phone;   //对象
                friendids.splice(jQuery.inArray(o, friendids), 1);  //移除
                csobj.text(parseInt(csobj.text()) - 1);
            }
            console.log(friendids)
            //如果这个方法存在就调用
            //console.log($(window.parent)[0].delebefore)
            //if (typeof $(window.parent)[0].delebefore === 'function') {
            //    $(window.parent)[0].delebefore(friendids);
            //}
        }
    </script>
</head>
<body>
    <table>
        <tr>
            <td><input id="text" type="text"></td>
            <td colspan="3">
                <select id="sel">
                    <option value="TrueName">真实姓名</option>
                    <option value="Phone">手机号码</option>
                </select>
            </td>
            <td><input id="search" type="button" style="width:80px; cursor:pointer" value="查询"></td>
            <td><input id="clear" type="button" style="width:80px; cursor:pointer" value="清空"></td>
        </tr>
    </table>
    <div id="gfriendtblist"></div>
    <div id="gfriendpage" class="m-pagination"></div>
</body>
</html>
