@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePortal</title>
</head>
<body>
    <form action="/TUser/UpdateTx" method="post" enctype="multipart/form-data">
        <input id="file1" name="file1" type="file" />
        <input name="uid" type="text" value="10234" />
        <input type="submit" value="提交" />
    </form>
</body>
</html>
