@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePortal</title>
    <link href="~/Content/TestPage/Jcrop-0.9.12/css/jquery.Jcrop.min.css" rel="stylesheet" />
    <script src="~/Content/TestPage/jquery-2.1.4.min.js"></script>
    <script src="~/Content/TestPage/Jcrop-0.9.12/js/jquery.Jcrop.js"></script>
    <script type="text/javascript">
  $(function(){

    // How easy is this??
      $('#element_id').Jcrop();

  });
    </script>
</head>
<body>
    <img id="element_id" src="~/Content/TestPage/Jcrop-0.9.12/demos/demo_files/sago.jpg" />
    <form action="/TUser/UpdateTx" method="post" enctype="multipart/form-data">
        <input id="file1" name="file1" type="file" />
        <input name="uid" type="text" value="10234" />
        <input type="submit" value="提交" />
    </form>
</body>
</html>
