@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>完善用户信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn_s").click(function () {
                var v = $("#txt_bank").val();
                console.log(v)
                var val = getBankName(v);
            })
        })
        // 根据银行卡号获取发卡行名称
        getBankName = function (bankCard) {
            if (bankCard == null || bankCard == "") {
                return "";
            }
            $.ajax({
                type: "get",//请求方式
                url: "http://static.cf518.cn/bankbin.json",//地址，就是json文件的请求路径
                dataType: "json",//数据类型可以为 text xml json  script  jsonp
                success: function (result) {//返回的参数就是 action里面所有的有get和set方法的参数
                    alert(1111)
                    $.each(result, function (index, obj) {
                        var str = '<div>姓名:性别：</div>';
                        document.write(str);
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <input id="txt_bank" type="text" value="6222300050189524" /><button id="btn_s">校验</button>
    </div>
</body>
</html>
