@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" http-equiv="Access-Control-Allow-Origin" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>Index</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
</head>
<body>
    <div>
        
    </div>
</body>
<script type="text/javascript">
    var sharenum = 0;       //分享次数
    $(function () {
        wx.config({
            debug: false,
            appId: '@ViewBag.appid',
            timestamp: @ViewBag.timestamp,
            nonceStr: '@ViewBag.noncestr',
            signature: '@ViewBag.signatrue',
            jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
            ]
        });
        wx.ready(function () {
            // 2. 分享接口
            // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareAppMessage({
                title: '新店特惠 LOOK眼镜龙首路店开业',
                desc: '新店特惠 LOOK眼镜龙首路店开业',
                link: 'http://gm.cf518.cn/Glasses/Index',
                imgUrl: 'http://gm.cf518.cn/Content/Glasses/glasses_s.jpg',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    //alert('用户点击发送给朋友');
                },
                success: function (res) {
                    sharenum += 1;
                    $(".fenxiang").fadeOut();
                    //alert('已分享');
                },
                cancel: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareTimeline({
                title: '新店特惠 LOOK眼镜龙首路店开业',
                link: 'http://gm.cf518.cn/Glasses/Index',
                imgUrl: 'http://gm.cf518.cn/Content/Glasses/glasses_s.jpg',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    //alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    sharenum += 1;
                    $(".fenxiang").fadeOut();
                    //alert('已分享');
                },
                cancel: function (res) {
                    $(".fenxiang").fadeOut();
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });
    })
</script>
</html>
