@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="/Order/Index" style="text-decoration:none">
                    <div class="thumbnail">
                        <img style="width:65px;height:65px" src="~/Content/Icon/CommonIcon/1204557.png" alt="通用的占位符缩略图">
                        <div class="caption" style="text-align:center">
                            <span>会单</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/Order/Index" style="text-decoration:none">
                    <div class="thumbnail">
                        <img style="width:65px;height:65px" src="~/Content/Icon/CommonIcon/1204590.png" alt="通用的占位符缩略图">
                        <div class="caption" style="text-align:center">
                            <span>消息</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/Order/Index" style="text-decoration:none">
                    <div class="thumbnail">
                        <img style="width:65px;height:65px" src="~/Content/Icon/CommonIcon/1204593.png" alt="通用的占位符缩略图">
                        <div class="caption" style="text-align:center">
                            <span>好友</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                    <img style="width:65px;height:65px" src="~/Content/Icon/CommonIcon/1204593.png" alt="通用的占位符缩略图">
                    <div class="caption" style="text-align:center">
                        <span>临时</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
