@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>基本使用方法说明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        .pcolor {font:bold 14px/1.8 "微软雅黑",Arial,HELVETICA;}
        p.red {color:red}
    </style>
</head>
<body>
    <div>
        <p class="pcolor red">这么好用的一个软件,还需要写说明,没办法!!!</p>
        <p class="pcolor">一.图文并茂说明一</p>
        <div><img src="~/Content/img/useremark/1.jpg" style="max-width:100%" /></div>
        <p class="pcolor">二.图文并茂说明二</p>
        <div><img src="~/Content/img/useremark/2.jpg" style="max-width:100%" /></div>
        <p class="pcolor">三.图文并茂说明三</p>
        <div><img src="~/Content/img/useremark/3.jpg" style="max-width:100%" /></div>
        <p class="pcolor">四.图文并茂说明四</p>
        <div><img src="~/Content/img/useremark/4.jpg" style="max-width:100%" /></div>
        <p class="pcolor">五.图文并茂说明五</p>
        <div><img src="~/Content/img/useremark/5.jpg" style="max-width:100%" /></div>
        <p class="pcolor">六.图文并茂说明六</p>
        <div><img src="~/Content/img/useremark/6.jpg" style="max-width:100%" /></div>
    </div>
</body>
</html>
