<div class="goTop">TOP</div>
<div class="footnav">
    <ul>
        <li id="foot1"><a href="/TUser/TUserWxOrder">我的会单</a></li>
        <li id="foot2">
            <a href="javascript:void(0);">2</a>
            <div class="footdiv" id="footdiv2">
                <div>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                </div>
                <div class="triangle"></div>
            </div>
        </li>
        <li id="foot3">
            <a href="javascript:void(0);">3</a>
            <div class="footdiv" id="footdiv3">
                <div>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                    <a href="javascript:void(0);">3</a>
                </div>
                <div class="triangle"></div>
            </div>
        </li>
        <li id="foot4">
            <a href="javascript:void(0);">其他</a>
            <div class="footdiv" id="footdiv4">
                <div>
                    <a href="/Home/UserRemark">使用说明</a>
                    <a href="/TuOption/Index">给你意见</a>
                    <a href="/TuOption/ListOptionPortal">我的意见</a>
                </div>
                <div class="triangle"></div>
            </div>
        </li>
    </ul>
</div>
<div class="over" style="display:none">到底了！</div>