USE [GetMoney]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 11/01/2016 08:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[cont] [nvarchar](250) NULL
) ON [PRIMARY]
GO
